body{
	background-image: url(../img/5.jpg);
	background-size: 85%;
	background-repeat: no-repeat;
	background-position-x: -40px;
	background-color: #000000;
}
.front{
	border-radius: 35px;
	width: 370px;
	height: 381px;
	background-color: white;
	left: 0; 
    right: 0; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 13%;
	position: absolute;
	backface-visibility: hidden;
	transition: 2s;
	
}
.back{
	border-radius: 35px;
	width: 370px;
	height: 381px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
	background-color: white;
	margin-top: 13%;
	position: absolute;
	backface-visibility: hidden;
	transform: rotateY(-180deg);
	transition: 2s;
}
.login{
	padding: center;
	text-align: center;
	position: relative;
	perspective: 800px;
}
.LOGO{
	height: 100px;
}
.LOGO img{
	height: 140%;
}
.title{
	font-weight: 540;
	font-size: 20px;
}
.square{
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	width: 234px;
	height: 50px;
	border: #CCCCCC 1px solid;
	border-radius: 14px;
	box-shadow: gainsboro 0px 0px 5px;
}
.square span{
	float: left;
	line-height: 50px ;
	width: 20%;
	font-size: 30px;
	border-right: #CCCCCC 1px solid;
	color:#404040 ;
}
.square a{
	line-height: 50px;
	font-size: 17px;
	color: #666666;
	float: left;
	margin-left: 8px;
}
.bottom{
	height: 40px;
	width: 234px;
	margin-left: auto;
	margin-right: auto;
	font-size: 10px;
	line-height: 40px;
}
.left{
	float: left;
}
.right{
	float: right;
	color: rgb(234,179,96);
}
.note{
	color: #666666;
	display: block;
	text-align: center;
	margin-top: 6px;
	font-size: 13px;
}
.button{
	height: 55px;
	margin-top: 50px;
	text-align: center;
}
.loginbutton{
	background: linear-gradient(to top right,#F5AD77,#FEC306);
	height: 45px;
	width: 135px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 12px;
	line-height: 45px;
	color: white;
	font-size: 23px;
}
.down{
	position: relative;
	top: 615px;
}
.back p{
	
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 10px;
}
.login:hover .front{
	transform: rotateY(180deg);
}
.login:hover .back{
	transform: rotateY(0deg);
}